{% extends 'base.html.twig' %}
{% block main %}

<p class="date">Date du jour : {{ "now"|date('d/m/Y') }}</p>
    <p class="part">Participant : {{ app.user.nom }}</p>

    <h4>Filtrer les sorties</h4>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Choisir une ville
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits/Places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for Sortie in sortie %}
        <tr>
            <th>{{ Sortie.nom }}</th>
            <td>{{ Sortie.dateHeureDebut   |date("d/m/Y h:m") }}</td>
            <td>{{ Sortie.dateLimiteInscription|date("d/m/Y") }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ app.user.nom }}</td>
            <td><a href="{{ path('afficher_sortie', {id: Sortie.id }) }}">Afficher</a> </td>
        </tr>
        {% endfor %}
        </tbody>

    </table>

    <a href="{{ path('create') }}"> <button type="submit" class="btn btn-primary" id="bout"> Créer une sortie</button></a>
{% endblock %}