{% extends 'base.html.twig' %}
 {%  block main %}
    <h1>Annuler une sortie</h1>

     <div class="annulerSortie">
         {{ sortie.nom }}<br>
         {{ sortie.dateHeureDebut |date("d/m/Y h:m") }}<br>
     </div>
     <div>
{{ form_start(formMotif) }}
     <div class="form-group">
         {{ form_row(formMotif.motif, {'attr': {'class': 'form-control', 'placeholder':"Motif d'annulation"}}) }}
     </div>
     <br>
     <a href="{{ path('accueil') }}"><button type="submit" class="btn btn-primary">Valider</button></a>
         {{ form_end(formMotif) }}
     </div>
{% endblock %}