{% extends 'base.html.twig' %}
{% block stylesheets %}{% endblock %}
{% block main %}

<div id="formVille">
    {%for label, messages in app.flashes%}
        {% for message in messages %}
            <div class="alert - {{ label }}">

                {{ message }}
            </div>

        {% endfor %}
    {% endfor %}
    <h1>Gérer les villes</h1>


    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Ville</th>
            <th scope="col">Code Postal</th>
            <th scope="col">Actions</th>

        </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>
                <th class="table-light">{{ ville.nom }}</th>
                <td class="table-light">{{ ville.codePostal }}</td>
                <td class="table-light"><a href="{{ path('modifierVille', {id: ville.id}) }}"><button type="submit" class="btn btn-warning">Modifier</button></a>
                    <a href="{{ path('supprimerVille', {id: ville.id}) }}"><button type="button" class="btn btn-danger">Supprimer</button></a><br></td>
            </tr>
        {% endfor %}
        <tr>

            {{ form_start(formVille) }}
            <td class="table-light">{{ form_row(formVille.nom) }}</td>
            <td class="table-light">{{ form_row(formVille.codePostal) }}</td>
        <td class="table-light"> <button type="submit" class="btn btn-primary">Ajouter</button></td>
            {{ form_end(formVille) }}

        </tr>
        </tbody>
    </table>
{% endblock %}
