{% extends "base.html.twig" %}

{% block title %} Modifier Profil {% endblock %}

{% block main %}

    <div id="formProfil">
    {%for label, messages in app.flashes%}
    {% for message in messages %}
    <div class="alert - {{ label }}">

        {{ message }}
    </div>
    {% endfor %}
    {% endfor %}
    <br>
    <h1><b>Mon profil</b></h1>
    <div >
    {{ form_start(modifierForm) }}
    <div class="form-group">
        {{ form_row(modifierForm.username, {'attr': {'class': 'form-control', 'placeholder':"Votre pseudo"}}) }}
    </div>
    <div class="form-group">
        {{ form_row(modifierForm.nom, {'attr': {'class': 'form-control', 'placeholder':"Votre nom"}}) }}
    </div>
    <div class="form-group">
        {{ form_row(modifierForm.prenom, {'attr': {'class': 'form-control', 'placeholder':"Votre prenom"}}) }}
    </div>
    <div class="form-group">
        {{ form_row(modifierForm.telephone, {'attr': {'class': 'form-control', 'placeholder':"Votre telephone"}}) }}
    </div>
    <div class="form-group">
        {{ form_row(modifierForm.email, {'attr': {'class': 'form-control', 'placeholder':"Votre email"}}) }}
    </div>
    <div class="form-group">
        {{ form_row(modifierForm.password, {'attr': {'class': 'form-control', 'placeholder':"Votre mot de passe"}}) }}
    </div>
    <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(modifierForm) }}




{% endblock %}